* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    width: 100%;
    min-height: 100vh;
    background: #5691d5;
    background: linear-gradient(282deg, #0044ff 0%, #54bdff);
}

.box {
    max-width: 500px;
    background: #fff;
    padding: 30px;
    width: 100%;
    border-radius: 5px;
}

.upload-area-title {
    text-align: center;
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 600;
}

.uploadLabel {
    width: 100%;
    min-height: 100px;
    background: #18a7ff0d;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 3px dashed #18a7ff82;
    cursor: pointer;
    padding: 25px;
    border-radius: 20px;
}

.uploadLabel span {
    color: #1884ff;
    font-size: 70px;
}

.uploadLabel p {
    color: #1884ff;
    font-size: 20px;
    font-weight: 800;
    font-family: 'Calibri';
}

label {
    font-family: 'Calibri';
    color: #6f7174;
}

.uploaded {
    margin: 30px 0;
    font-size: 16px;
    font-weight: 700;
    color: #a5a5a5;
}

.showFile {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin:10px 0;
    padding: 10px 15px;
    box-shadow: #0000000d 0 0 0 1px, #d1d5db3d 0 0 0 1px inset;
}

.showFile .left {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px
}

.filetype {
    background: #1884ff;
    color: #fff;
    padding: 5px 15px;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 700;
    border-radius: 3px;
}

.left h3, h2 {
    font-weight: 600;
    font-size: 18px;
    color: #292F42;
    margin: 0;
}

.right {
    display: flex;
}

.right span {
    background: #1884ff;
    color: #fff;
    cursor: pointer;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    font-size: 25px;
    line-height: 25px;
    display: inline-block;
    text-align: center;
    font-weight: 700;
}

img {
    background: #1884ff;
    color: #fff;
    cursor: pointer;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    margin-right: 10px;
}

.overrider {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    font-family: Arial, Helvetica, sans-serif;
    color: #292F42;
    margin: 5px;
}

#overrideCheckbox {
    margin: 5px;
}